<template>
  <div class="home container">
    <div class="header flex">
      <div class="left flex flex-column">
        <h1>Invoices</h1>
        <span>There are 4 total invoices</span>
      </div>
      <div class="right flex">
        <div @click="toggleFilterMenu" class="filter flex">
          <span>Filter by status</span>
          <img src="@/assets/img/icon-arrow-down.svg" alt="arrow-down">
          <ul v-show="filterMenu" class="filter-menu">
            <li>Draft</li>
            <li>Pending</li>
            <li>Paid</li>
            <li>Clear Filter</li>
          </ul>
        </div>
        <button @click.prevent="newInvoice" type="button" class="button invoice-button">
          <span>New Invoice</span>
        </button>
      </div>
    </div>
    <invoices-list />
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import InvoicesList from '@/components/InvoicesList';

export default {
  name: "Home",
  components: {
    InvoicesList
  },
  data: () => ({
    filterMenu: false
  }),
  methods: {
    ...mapMutations(['toggleModal']),
    toggleFilterMenu () {
      this.filterMenu = !this.filterMenu;
    },
    newInvoice () {
      this.toggleModal();
    },
  }
};
</script>
