.exit-modal {
  z-index: 100;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &__content {
    padding: 30px 45px;
    border-radius: 20px;
    background-color: #252945;
    max-width: 450px;
    color: #fff;
  }
  .actions {
    margin-top: 30px;
    justify-content: flex-end;
    p {
      text-align: center;
    }
    button {
      flex: 1;
    }
  }
}
