.invoices-list {
  margin-top: 50px;
  .invoice {
    text-decoration: none;
    gap: 16px;
    margin-bottom: 16px;
    color: #fff;
    border-radius: 20px;
    padding: 28px 32px;
    background-color: #1e2139;
    align-items: center;
    span {
      font-size: 13px;
    }
    .left {
      align-items: center;
      flex-basis: 60%;
      gap: 16px;
      span {
        flex: 1;
      }
      .tracking-number {
        text-transform: uppercase;
      }
    }
    .right {
      align-items: center;
      flex-basis: 40%;
      gap: 16px;
      .price {
        flex: 1;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .empty {
    align-items: center;
    img {
      width: 220px;
      height: 200px;
    }
    h3 {
      font-size: 20px;
      margin-top: 40px;
    }
    p {
      text-align: center;
      max-width: 220px;
      font-size: 12px;
      font-weight: 300;
      margin-top: 16px;
    }
  }
}
