.invoice-modal::-webkit-scrollbar, {
  display: none;
}
.invoice-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  @media (min-width: 900px) {
    left: 90px;
  }
  .invoice-content {
    position: relative;
    padding: 50px;
    max-width: 700px;
    width: 100%;
    background-color: #141625;
    color: #ffffff;
    box-shadow: 10px 4px 6px -1px rgba(0, 0, 0, .2), 0px 2px 4px -1px rgba(0, 0, 0, .6);
    h1 {
      margin-bottom: 45px;
      color: #fff;
    }
    h3 {
      margin-bottom: 16px;
      font-size: 18px;
      color: #777f98;
    }
    h4 {
      margin-bottom: 24px;
      font-size: 12px;
      color: #7c5dfa;
    }
    input {
      margin-bottom: 24px;
    }
    label {
      margin-bottom: 6px;
      font-size: 12px;
    }
    input,
    select {
      width: 100%;
      background-color: #1e2139;
      color: #ffffff;
      border-radius: 4px;
      padding: 12px 10px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    select {
      margin-bottom: 24px;
    }
    .bill-from,
    .bill-to {
      margin-bottom: 45px;
      .location-details {
        gap: 16px;
        div {
          flex: 1
        }
      }
    }
    .invoice-work {
      .payment {
        gap: 16px;
        div {
          flex: 1
        }
      }
      .work-items {
        .item-list {
          width: 100%;
          .table-heading,
          .table-items {
            gap: 16px;
            font-size: 12px;
            .item-name {
              flex-basis: 50%;
            }
            .qty {
              flex-basis: 10%;
            }
            .price {
              flex-basis: 20%;
            }
            .total {
              flex-basis: 20%;
              align-self: center;
            }
          }
          .table-heading {
            margin-bottom: 16px;

            th {
              text-align: left;
            }
          }
          .table-items {
            position: relative;
            margin-bottom: 24px;
            img {
              cursor: pointer;
              position: absolute;
              top: 15px;
              right: 0;
              width: 12px;
              height: 16px;
            }
          }
        }
        .button {
          color: #fff;
          background-color: #252945;
          align-items: center;
          justify-content: center;
          img {
            margin-right: 5px;
          }
        }
      }
    }
    .save {
      margin-top: 60px;
      div {
        flex: 1;
      }
      .right {
        justify-content: flex-end;
      }
    }
  }

}
