.home {
  color: #ffffff;
  .left,
  .right {
    flex-grow: 1;
  }
  .right {
    justify-content: flex-end;
    align-items: center;
  }
  .filter,
  .invoice-button {
    align-items: center;
    span {
      font-size: 12px;
    }
  }
  .filter {
    cursor: pointer;
    position: relative;
    margin-right: 40px;
    img {
      margin-left: 12px;
    }
    .filter-menu {
      position: absolute;
      top: 30px;
      list-style-type: none;
      width: 120px;
      background-color: #1e2139;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0px 2px 4px -1px rgba(0, 0, 0, .6);
      li {
        padding: 12px;
        cursor: pointer;
        font-size: 12px;
        &:hover {
          color: #1e2139;
          background-color: #ccc;
        }
      }
    }
  }
  .invoice-button {
    padding: 10px 20px;
    background-color: #7c5dfa;
    border-radius: 40px;
  }
}
