<template>
  <div class="exit-modal flex">
    <div class="exit-modal__content">
      <p>Are you sure you want to exit?</p>
      <div></div>
      <p>Your changes will not saved.</p>
      <div class="actions flex">
        <button class="red" @click="closeModal">No</button>
        <button class="purple" @click="closeInvoice">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'ExitModal',
  data: () => ({}),
  methods: {
    ...mapMutations(['toggleModal', 'toggleExitModal']),
    closeModal () {
      this.toggleExitModal();
    },
    closeInvoice () {
      this.toggleModal();
      this.toggleExitModal();
    }
  }
}
</script>
