<template>
  <div class="invoices-list">
    <template v-if="invoices.length">
      <router-link
          v-for="(invoice, i) in invoices"
          :key="i"
          :to="{ name: 'Invoice', params: { invoiceId: invoice.invoiceId } }"
          class="flex invoice"
      >
        <div class="flex left">
          <span class="tracking-number">#{{ invoice.invoiceId }}</span>
          <span class="due-date">{{ invoice.paymentDueDate }}</span>
          <span class="person">{{ invoice.clientName }}</span>
        </div>
        <div class="flex right">
          <span class="price">${{ invoice.invoiceTotal }}</span>
          <div
              class="flex status-button"
              :class="{ 'paid': invoice.invoicePaid, 'draft': invoice.invoiceDraft, 'pending': invoice.invoicePending }"
          >
            <span v-if="invoice.invoicePaid">Paid</span>
            <span v-if="invoice.invoiceDraft">Draft</span>
            <span v-if="invoice.invoicePending">Pending</span>
          </div>
          <div class="icon">
            <img src="@/assets/img/icon-arrow-right.svg" alt="arrow right">
          </div>
        </div>
      </router-link>
    </template>
    <div v-else class="empty flex flex-column">
      <img src="@/assets/img/illustration-empty.svg" alt="empty invoices list">
      <h3>There is nothing here</h3>
      <span>Create new invoice by clicking the "New Invoice" button and get started.</span>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: 'InvoicesList',
  computed: {
    ...mapState(['invoices']),
  }
}
</script>

<style scoped>

</style>
