<template>
  <div class="invoice-modal flex flex-column" @click="checkClick" ref="invoiceWrap">
    <form @submit.prevent="submitForm" class="invoice-content">
      <loader v-if="loading" />
      <h1>New Invoice</h1>
      <div class="bill-from flex flex-column">
        <h4>Bill From</h4>
        <div class="input flex flex-column">
          <label for="billerStreetAddress">Street Address</label>
          <input required type="text" id="billerStreetAddress" v-model="billerStreetAddress" />
        </div>
        <div class="location-details flex">
          <div class="input flex flex-column">
            <label for="billerCity">City</label>
            <input required type="text" id="billerCity" v-model="billerCity" />
          </div>
          <div class="input flex flex-column">
            <label for="billerZipCode">Zip Code</label>
            <input required type="text" id="billerZipCode" v-model="billerZipCode" />
          </div>
          <div class="input flex flex-column">
            <label for="billerCountry">Country</label>
            <input required type="text" id="billerCountry" v-model="billerCountry" />
          </div>
        </div>
      </div>

      <div class="bill-to flex flex-column">
        <h4>Bill To</h4>
        <div class="input flex flex-column">
          <label for="clientName">Client's Name</label>
          <input required type="text" id="clientName" v-model="clientName" />
        </div>
        <div class="input flex flex-column">
          <label for="clientEmail">Client's Email</label>
          <input required type="text" id="clientEmail" v-model="clientEmail" />
        </div>
        <div class="input flex flex-column">
          <label for="clientStreetAddress">Street Address</label>
          <input required type="text" id="clientStreetAddress" v-model="clientStreetAddress" />
        </div>
        <div class="location-details flex">
          <div class="input flex flex-column">
            <label for="clientCity">City</label>
            <input required type="text" id="clientCity" v-model="clientCity" />
          </div>
          <div class="input flex flex-column">
            <label for="clientZipCode">Zip Code</label>
            <input required type="text" id="clientZipCode" v-model="clientZipCode" />
          </div>
          <div class="input flex flex-column">
            <label for="clientCountry">Country</label>
            <input required type="text" id="clientCountry" v-model="clientCountry" />
          </div>
        </div>
      </div>

      <div class="invoice-work flex flex-column">
        <div class="payment flex">
          <div class="input flex flex-column">
            <label for="invoiceDate">Invoice Date</label>
            <input disabled type="text" id="invoiceDate" v-model="invoiceDate" />
          </div>
          <div class="input flex flex-column">
            <label for="paymentDueDate">Payment Due</label>
            <input disabled type="text" id="paymentDueDate" v-model="paymentDueDate" />
          </div>
        </div>
        <div class="input flex flex-column">
          <label for="paymentTerms">Payment Terms</label>
          <select required id="paymentTerms" v-model="paymentTerms">
            <option value="30">30 Days</option>
            <option value="60">60 Days</option>
          </select>
        </div>
        <div class="input flex flex-column">
          <label for="productDescription">Product Description</label>
          <input required type="text" id="productDescription" v-model="productDescription" />
        </div>
        <div class="work-items">
          <h3>Item List</h3>
          <table class="item-list">
            <tr class="table-heading flex">
              <th class="item-name">Item Name</th>
              <th class="qty">Qty</th>
              <th class="price">Price</th>
              <th class="total">Toal</th>
            </tr>
            <tr class="table-items flex" v-for="(item, index) in invoiceItemList" :key="index">
              <td class="item-name"><input class="mb-0" type="text" v-model="item.itemName" /></td>
              <td class="qty"><input class="mb-0" type="text" v-model="item.qty" /></td>
              <td class="price"><input class="mb-0" type="text" v-model="item.price" /></td>
              <td class="total flex">${{ (item.total = item.qty * item.price) }}</td>
              <img class="remove" @click="deleteInvoiceItem(item.id)" src="@/assets/img/icon-delete.svg" alt="" />
            </tr>
          </table>

          <div @click="addNewInvoiceItem" class="flex button">
            <img src="@/assets/img/icon-plus.svg" alt="" />
            Add New Item
          </div>
        </div>
      </div>

      <div class="save flex">
        <div class="left">
          <button type="button" @click="closeInvoice" class="red">Cancel</button>
        </div>
        <div class="right flex">
          <button type="submit" @click="saveDraft" class="dark-purple">Save Draft</button>
          <button type="submit" @click="publishInvoice" class="purple">Create Invoice</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import { uid } from 'uid';
import db from '@/firebase/firebaseInit';
import Loader from '@/components/Loader';

export default {
  name: 'InvoiceModal',
  components: {
    Loader
  },
  data: () => ({
    docId: null,
    loading: null,
    billerStreetAddress: null,
    billerCity: null,
    billerZipCode: null,
    billerCountry: null,
    clientName: null,
    clientEmail: null,
    clientStreetAddress: null,
    clientCity: null,
    clientZipCode: null,
    clientCountry: null,
    invoiceDateUnix: null,
    invoiceDate: null,
    paymentTerms: null,
    paymentDueDateUnix: null,
    paymentDueDate: null,
    productDescription: null,
    invoicePaid: null,
    invoicePending: null,
    invoiceDraft: null,
    invoiceItemList: [],
    invoiceTotal: 0,
  }),
  created () {
    this.invoiceDateUnix = Date.now();
    this.invoiceDate = new Date(this.invoiceDateUnix).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' });
  },
  methods: {
    ...mapMutations(['toggleModal', 'toggleExitModal']),
    checkClick (e) {
      if (e.target === this.$refs.invoiceWrap) {
        this.toggleExitModal();
      }
    },
    submitForm () {
      this.uploadInvoice();
    },
    async uploadInvoice () {
      if (!this.invoiceItemList.length) {
        return false;
      }
      try {
        this.loading = true;
        this.calcInvoiceTotal();
        const dataBase = db.collection('invoice').doc();
        await dataBase.set({
          invoiceId: uid(6),
          billerStreetAddress: this.billerStreetAddress,
          billerCity: this.billerCity,
          billerZipCode: this.billerZipCode,
          billerCountry: this.billerCountry,
          clientName: this.clientName,
          clientEmail: this.clientEmail,
          clientStreetAddress: this.clientStreetAddress,
          clientCity: this.clientCity,
          clientZipCode: this.clientZipCode,
          clientCountry: this.clientCountry,
          invoiceDateUnix: this.invoiceDateUnix,
          invoiceDate: this.invoiceDate,
          paymentTerms: this.paymentTerms,
          paymentDueDateUnix: this.paymentDueDateUnix,
          paymentDueDate: this.paymentDueDate,
          productDescription: this.productDescription,
          invoicePending: this.invoicePending,
          invoiceDraft: this.invoiceDraft,
          invoiceItemList: this.invoiceItemList,
          invoiceTotal: this.invoiceTotal,
        })
        this.loading = false;
        this.toggleModal();
      } catch (e) {
        console.log(e.message);
        this.loading = false;
      }


    },
    deleteInvoiceItem (id) {
      this.invoiceItemList = this.invoiceItemList.filter(item => item.id !== id);
    },
    addNewInvoiceItem () {
      this.invoiceItemList.push({
        id: uid(),
        itemName: '',
        qty: '',
        price: 0,
        total: 0,
      });
    },
    closeInvoice () {
      this.toggleModal();
    },
    saveDraft () {
      this.invoiceDraft = true;
    },
    publishInvoice () {
      this.invoicePending = true;
    },
    calcInvoiceTotal () {
      this.invoiceTotal = 0;
      this.invoiceItemList.forEach(item => this.invoiceTotal += item.total);
    }
  },
  watch: {
    paymentTerms () {
      let futureDate = new Date();
      this.paymentDueDateUnix = futureDate.setDate(futureDate.getDate() + parseInt(this.paymentTerms));
      this.paymentDueDate = new Date(this.paymentDueDateUnix).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' });
    }
  }
}
</script>
