<template>
  <header class="header-navigation flex">
    <div class="branding flex">
      <img src="@/assets/img/file-invoice-dollar-solid.png" alt="sidebar icon">
    </div>
  </header>
</template>

<script>
export default {
  name: 'Navigation'
}
</script>
