<template>
  <div v-if="!isMobile" class="app flex">
    <navigation />
    <div class="app-content">
      <exit-modal v-if="isExitModal" />
      <transition name="invoice">
        <invoice-modal v-if="isInvoiceModal" />
      </transition>
      <router-view />
    </div>
  </div>
  <div v-else class="mobile-message flex flex-column">
    <h2>Sorry, this app is not supported on Mobile Devices</h2>
    <p>To use this app, please use a computer or tablet!</p>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Navigation from '@/components/Navigation';
import InvoiceModal from '@/components/InvoiceModal';
import ExitModal from '@/components/ExitModal';

export default {
  name: 'App',
  components: {
    Navigation,
    InvoiceModal,
    ExitModal
  },
  data: () => ({
    isMobile: null
  }),
  computed: {
    ...mapState(['isInvoiceModal', 'isExitModal'])
  },
  created() {
    this.getInvoices();
    this.checkScreen();
    window.addEventListener('resize', this.checkScreen);
  },
  methods: {
    ...mapActions(['getInvoices']),
    checkScreen () {
      let windowWidth = window.innerWidth;
      this.isMobile = windowWidth < 750;
    }
  }
}
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
  @import "assets/scss/index";
</style>
